<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright 2017 Grigoryan Artem
Licensed under the Apache License, Version 2.0
-->
<packages>
  <package id="MahApps.Metro" version="1.5.0" targetFramework="net461" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net461" />
  <package id="Xceed.Wpf.Toolkit" version="3.6.17613.09190" targetFramework="net461" />
</packages>